django
djangorestframework
python-decouple
drf-yasg
beautifulsoup4
bs4
exceptiongroup
google-generativeai
httplib2
httpx
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
pydantic
pydantic_core
pyparsing
python-dotenv
djangorestframework-simplejwt
django-cors-headers
setuptools
psycopg2-binary
pdf2docx
boto3
pyotp
twilio
google-auth 
google-auth-oauthlib 
google-auth-httplib2
gunicorn
uvicorn
aiobotocore
pillow
moviepy==1.0.3
ffmpeg-python
drf-user-activity-tracker
openpyxl
posthog
websockets
google-genai==0.2.2